<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Quotes</title>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- External CSS -->
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <h1 data-position="header">Motivational Quotes</h1>
    <!-- Two text inputs & submit button -->
    <section data-position="add-quote">
        <h2>Add a quote</h2>
        <p>Fill out the fields and click submit to share a memorable quote.</p>
        <p>You may upvote quotes by clicking the thumbs-up on the left.</p>
        <p>You may delete quotes by clicking the bin on the right.
        <form action="/addQuotes" method="POST">
            <input type="text" placeholder="First & Last Name" name="name">
            <input type="text" placeholder="A quote from this person" name="quote"><!--
        --><button type="submit">Submit</button>
        </form>
    </section>
    <!-- Displays quotes -->
    <section data-position="quotes">
    <h2>Quotes</h2>
        <ul class="quotes">
            <% for(let i = 0; i < quotes.length; i++) {%>
                <li class="quote">
                    <span><%= quotes[i].likes %></span>
                    <span class='fa fa-thumbs-up'></span>
                    <span>-</span>
                    <span><%= quotes[i].name %></span>
                    <span>-</span>
                    <span><%= quotes[i].quote %></span>
                    <span class='fa fa-trash'></span>
                </li>
            <% } %>
        </ul>
    </section>
    <div id="message"></div>
    <script src="/main.js"></script>
</body>
</html>